.container {
  display: flex;
  width: 55px;
  height: 25px;
  gap: 8px;
  padding: 4px;
  border: 0.5px solid grey;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.sun {
  display: flex;
  align-items: center;
  color: yellow;
  font-size: 20px;
}

.night {
  display: flex;
  align-items: center;
  color: darkblue;
  font-size: 18px;
}
.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: aquamarine;
}
